<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- axios lib 사용을 위한 설정-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    사원번호 : <input type="text" id="newEmpno" value="1"> <br>
    <button id="insertBtn" onclick="insertEmp()">등록</button>

    <script>
        //등록
        function insertEmp() {
            console.log('등록')
            const xhttp = new XMLHttpRequest();

            //서버와 클라이언트간에 통신시 연결 유지 상태의 변화가 감지될 때만다 자동 실행 되는 함수등록 속성
            xhttp.onreadystatechange = function () {
                //this.readyState == 4 : 서버와 브라우저간에 응답 완료에 대한 숫자값
                //this.status == 200 : 정상 응답
                if (this.readyState == 4 && this.status == 200) {

                }
            };
            xhttp.open("POST", "insert");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            queryString = "empno=" + document.getElementById("newEmpno").value

            xhttp.send(queryString);
        }


        //모두 보기
        function allEmp() {
            //get방식 - http://ip:port/empall
            axios.get('/empall')
            .then(function (response) {  //정상 응답 완료되었을 때 자동 실행
                //응답된 데이터가 data라는 속성에 실제 데이터 포함
                console.log(response);

                all = response.data;

                let tableTag = `<table border='1'><th>사번</th><th>사원명</th><th>급여</th>`;

                //배열의 no 즉 index값
                for(no in all){
                    tableTag = tableTag + "<tr><td>"+ all[no].empno + "</td><td>" 
                        + all[no].ename + "</td><td>" + all[no].sal + "</td></tr>";
                }
                    
                tableTag = tableTag + `</table>`;
                        
                document.getElementById("emplist").innerHTML = tableTag;

            })
            .catch(function (error) {
                console.log(error);
                //id값이 emplist인 div tag에 순수 문자열 적용시 innerText 사용
                document.getElementById("emplist").innerText = '모두 보기 실패, 재요청 하세요'
            });
        }

        //사번으로 사원명 검색하는 비동기 처리 함수
        function empnoReq(){
            axios.post('/empone', {
                empno : document.getElementById("uempno").value
            }).then(function(res){
                document.getElementById("uename").value = res.data['ename'];
            }).catch(function(err){
                console.log(err);
            });
        }


        function myAjax2() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {

                alert(this.readyState);

                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data);
                    alert(data.ename);
                    document.getElementById("ename").value = data.ename;
                    document.getElementById("sal").value = data.sal;
                }
            };
            xhttp.open("POST", "getemp");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("empno=" + document.getElementById("empno").value);
        }


        function myAjax() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    document.getElementById("demo").innerHTML = data;
                    data = JSON.parse(data);
                    document.getElementById('uname').value = data.name;
                    document.getElementById('uage').value = data.age;
                }
            };

            xhttp.open("GET", "getdata");
            xhttp.send();
        }

    </script>
</body>

</html>
