/********** Basic **********/
:root {
    --primary: #f89b00;
    --secondary: #323232;
    --light: #EFFDF5;
    --dark: #2B3940;
}

hr {
    color:black;
}

.main-text {
    color: var(--primary);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 100px;
    z-index: 99;
}

@media (min-width: 1400px){
    .container-xxl {
        max-width: 1600px;
    }
}

img {
    /* width: 300px; */
    /* height: 150px; */
    object-fit: cover;
}

div .detail-img {
    width: 40%;
    height: 50%;
    object-fit: cover;
}

.bg-jeju {
    background-color: var(--primary);
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif ;
    font-weight: 600 ;
    transition: .5s ;
}

.bg-jeju-nav:hover {
    background-color: #f86300;
    border-color: #f86300;
}

.bg-jeju-nav {
    background-color: #ff9f40;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    border-color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    background-color: var(--primary);
}

.closebutton{
    height: 20px;
    width: 20px;
}

.chat-btn{
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.fMFlzf {
    background-color: #BDBCBC;
}

.btn-primary:focus{
    background-color:#f86300;
    border-color:var(--primary);
    box-shadow:0 0 0 0.25rem var(--primary);
}

.naverblog-btn{
    cursor: pointer;
}

.naverblog-btn:hover{
    color: #0654ba;
    cursor: pointer;
}


/*** Navbar ***/

.logo{
    height: 100%;
    width: 100%;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* vertical-align: middle; */
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}


.header-carousel .owl-carousel-item {
    position: relative;
    min-height: 300px;
}

.header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-carousel .owl-carousel-item p {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
}


.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF !important; 
    background: transparent;
    border: 1px solid #FFFFFF !important;
    border-radius: 2px !important;
    font-size: 22px !important;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Info ***/
.text-con {
    overflow: hidden;
    text-overflow: ellipsis;
}

.naverImg {
    width: 32px;
    height: 32px;
}

.naver-div {
    padding-left: 5px;
    font-size: large;
    line-height: 38px;
    width: 100%;
    height: 48px;
    border: 5px solid #808080;
}

.go-map {
    cursor: pointer;
}

.go-map:hover {
    color: #0654ba;
}

/*** Search ***/
.container-fluid-search {
    padding: 35px;
}

/*** KeywordList ***/
.keyword-section{
    list-style: none;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 0;
    --bs-gutter-x: 0rem;
}

.refresh-icon{
    cursor: pointer;
}

.refresh-icon:hover{
    color: #f86300;
}

.keyword-basket{
    border: 1px solid var(--secondary);
    box-shadow: 3px 3px var(--secondary);
    border-radius: 6px;
    margin:auto;
    --bs-gutter-x: 0rem;
}

.keyword-list{
    display: inline-block;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.keyword-btn{
    display: block;
    font-size: 1em;
    /* height: 30px; */
    padding: 3px 20px;
    border: 1px solid #d9d8d8;
    border-radius: 20px;
    color: #06113C;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 80%;
    height: 56.18px;
    overflow : hidden;
    text-overflow : ellipsis; 
    word-wrap : break-word; 
    display : -webkit-box;
    -webkit-line-clamp : 1;
    -webkit-box-orient: vertical; 
}

.keyword-btn:hover{
    border: 1px solid #f86300 !important;
    color: #f86300 !important;
}

.btn-section{
    position: relative;
    margin-top: 0;
}

.btn-list{
    right: 0px;
    position: absolute;
    border-radius: 6px;
}

.select-keyword-section{
    --bs-gutter-x: 0rem;
    list-style: none;
    text-align: center;
    margin-top: 0px;
}

.select-keyword{
    border: 1px solid var(--secondary);
    border-radius: 6px;
    margin-top: 10px;
    --bs-gutter-x: 0rem;
    box-shadow: 3px 3px var(--secondary);
    height: 40px;
}

.recommend-btn{
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: #FFFFFF;
    border-radius: 6px;
    margin: 4px 3px;
}

.recommend-btn:hover{
    border: 1px solid #f86300;
    background-color: #f86300;
    color: #FFFFFF;
    border-radius: 6px;
    margin: 4px 3px;
}

.select-keyword-btn{
    margin: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    margin: 4px 10px;
    border: 1px solid #d9d8d8;
    color: #06113C;
    background-color: #FFFFFF;
}

/*** TourListList ***/
.list-item {
    height: 230px;
}

.info-hr{
    margin-bottom: 28px;
}

.pdCon {
    padding-left: 0;
    padding-right: 0;
    background-color: #fcfbf7;
    padding-top: 12px !important;
}

.maCon {
    margin-left: 0;
    margin-right: 0;
    background-color: #fcfbf7;
}

.rank-con{
    background-color: #fcfbf7;
}

.info-con{
    background-color: #fcfbf7;
}

.img-list {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px 0 0 15px;
}

.align-items-start{
    margin-top: 0px;
    padding: 0px;
}

.list-text{
    cursor: pointer;
    margin-bottom: 0;
    overflow : hidden;
    text-overflow : ellipsis; 
    /* display : -webkit-box; */
    -webkit-line-clamp : 1;
    -webkit-box-orient: vertical; 
    margin-top: 8px;
}

.list-p {
    overflow : hidden;
    text-overflow : ellipsis; 
    display : -webkit-box;
    -webkit-line-clamp : 4;
    -webkit-box-orient: vertical; 
    height: 95px;
    word-wrap: break-word; 
}

.list-text:hover{
    color: #0654ba;
}

.list-hr{
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 0.5;
    border-color: #EF5A31;
}

.list-section{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 178px;
}

/* .list-section:hover{
    border: 1px solid var(--secondary);
} */

.list-info{
    margin-top: 1px;
}

.tab-content-tourlist {
    height: 1300px;
}

ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
}

.pagination a {
    background-color: var(--primary);
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 4px;
    text-align: center;
}

.pagination a:active {
    background-color: #f86300;
    color: white;
    border-radius: 5px;
}

.pagination .active a {
    background-color: #f86300;
    color: white;
    border-radius: 5px;
}

.pagination li{
    display: inline-block;
}


/*** MainImg ***/
.position-absolute {
    background: rgba(43, 57, 64, .5);
}

.img-fluid {
    max-width: 100%;
    height: 200px;
}


/*** Slick TourImg ***/
.img-fluid-tour {
    width: 380px !important;
    height: 300px !important;
    border: 5px solid var(--primary) !important;
    cursor: pointer !important;
    border-radius: 10px;
}

.slick-dots li.slick-active button:before {
    color:var(--secondary) !important;
}

.slick-slide div{
    outline : none;
    width : 100%;
}

.slick-slider {
    width: 1295px !important;
    margin-bottom: 10px;
}


/*** chatbot ***/
.chatbot-btn {
    cursor: pointer;
    color: #0654ba;
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);

}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* Maps */

.side-logo{
    height: 2.5%;
}

.del-btn{
    height: 100%;
    width: auto;
    margin: 0 0 0 0;
    display: inline-block;
    border-radius: 10px;
}

.btn-row{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.mapbtn-section{
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inherit;
    margin-bottom: 10px;
}

.map-source{
    color: black;
    font-size: inherit;
    margin: 0 0 0 0;
    vertical-align: middle;
    display: inline-block;
}

.maplast-section{
    display: -webkit-box;
    margin-left: 50px;
    border-radius: 10px;
    padding-right: 0px;
    float: right;
}

.map-applybtn{
    margin-right: 10px;
    border-radius: 10px;
    width: 57.52px;
}

.map-resetbtn{
    border-radius: 10px;
}

.sidebar:after{
    z-index: 3;
    background: linear-gradient(#FFFFFF, #f89b00 80%) !important;
}

.map-side{
    min-height: 100px;
}

/* sns ranking */
.ranking-section{
    padding: 0 30px 18px;
    border: 1px solid var(--secondary);
    background: #fff;
    box-shadow: 3px 3px var(--secondary);
    border-radius: 6px;
}

.ranking-title{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 97px;
    position: relative;
    margin: 0;
    font-size: 30px;
    color: #000;
    text-align: center;
}

.title-span{
    display: table-cell;
    width: 100%;
    padding-top: 8px;
    vertical-align: middle;
    font-family: helvetica;
    line-height: 24px;
}

.ranking-inner{
    position: relative;
    left: 0px;
}

.ranking-list{
    padding: 8px 10px 0;
    list-style: none;
    margin: 0;
}

.list-element{
    margin-top: 20px;
    letter-spacing: 0;
    overflow : hidden;
    text-overflow : ellipsis; 
    display : -webkit-box;
    -webkit-line-clamp : 1;
    -webkit-box-orient: vertical; 
    height: 37.5px;
}

.rank{
    font-size: 25px;
    margin-right: 19px;
    text-align: left;
    border: 0;
    font-weight: bold;
    color: #000;
    font-family: helvetica;
}

.rank-element{
    font-size: 20px;
    color: #000;
}

.ranking-hr{
    color: #06113C;
}