/********** Basic **********/
:root {
    --primary: #f89b00;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

hr {
    color:black;
}

.main-text {
    color: var(--primary);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 100px;
    z-index: 99;
}

@media (min-width: 1400px){
    .container-xxl {
        max-width: 1600px;
    }
}

img {
    /* width: 300px; */
    /* height: 150px; */
    object-fit: cover;
}

div .detail-img {
    width: 40%;
    height: 50%;
    object-fit: cover;
}

div .list-p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 95px;
}

.bg-jeju {
    background-color: var(--primary);
}



/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.bg-jeju-nav:hover {
    background-color: #f86300;
    border-color: #f86300;
}

.bg-jeju-nav {
    background-color: var(--primary);
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    border-color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    background-color: var(--primary);
    
}

.closebutton{
    height: 20px;
    width: 20px;
}

.chat-btn{
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.fMFlzf {
    background-color: #BDBCBC;
}

.btn-primary:focus{
    background-color:#f86300;
    border-color:var(--primary);
    box-shadow:0 0 0 0.25rem var(--primary);
}

.navarblog-btn{
    cursor: pointer;
}

.navarblog-btn:hover{
    color: blue;
    cursor: pointer;
}


/*** Navbar ***/

.logo{
    height: 100%;
    width: 100%;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}


.header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
}

.header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-carousel .owl-carousel-item p {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
}


.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF !important; 
    background: transparent;
    border: 1px solid #FFFFFF !important;
    border-radius: 2px !important;
    font-size: 22px !important;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}
/*** Info ***/
.text-con {
    overflow: hidden;
    text-overflow: ellipsis;
}

.naverImg {
    width: 32px;
    height: 32px;
}

.naver-div {
    padding-left: 5px;
    font-size: large;
    line-height: 38px;
    width: 100%;
    height: 48px;
    border: 5px solid var(--primary);
}

.go-map {
    cursor: pointer;
}

/*** Search ***/
.container-fluid-search {
    padding: 35px;
}


/*** KeywordList ***/
.form-check .form-check-label:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.form-check .form-check-label:hover,.form-check .form-check-input:hover {
    cursor: pointer;
}

/*** TourListList ***/
.list-item {
    height: 230px;
    cursor: pointer;
}

.pdCon {
    padding-left: 0;
    padding-right: 0;
}

.maCon {
    margin-left: 0;
    margin-right: 0;
}

.img-list {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
}

.tab-content-tourlist {
    height: 1300px;
}

ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
}

.pagination a {
    background-color: var(--primary);
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 4px;
    text-align: center;
}

.pagination a:active {
    background-color: #f86300;
    color: white;
    border-radius: 5px;
}

.pagination .active a {
    background-color: #f86300;
    color: white;
    border-radius: 5px;
}

.pagination li{
    display: inline-block;
}

/*** MainImg ***/
.position-absolute {
    background: rgba(43, 57, 64, .5);
}

.img-fluid {
    max-width: 100%;
    height: 200px;
}

/*** Slick TourImg ***/
.img-fluid-tour {
    width: 380px !important;
    height: 300px !important;
    border: 10px solid var(--primary) !important;
    cursor: pointer !important;
}

.slick-dots li.slick-active button:before {
    color:var(--primary) !important;
}

.slick-slide div{
    outline : none;
    width : 100%;
}

.slick-slider {
    width: 1295px !important;
    margin-bottom: 10px;
}

/*** chatbot ***/
.chatbot-btn {
    cursor: pointer;
    color: rgb(19, 121, 236);
}
/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);

}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}